@font-face {
  font-family: "skreen";
  src: url("/resources/skreen-regular.woff2") format("woff"),
    url("/resources/skreen-regular.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #dfdfdf;
  margin: 0px;
}

img {
  border: 0px none;
}

.ac {
  font-family: skreen, geneva, arial, sans-serif;
  font-size: 9px;
  margin: 4px;
}

.abmargin {
  background-image: url(i/ab_margin.gif);
  background-repeat: repeat-y;
  margin: 0px;
  padding: 0px;
  width: 3px;
}

a {
  color: #600;
  text-decoration: none;
}

a:hover {
  color: #900;
  text-decoration: underline;
}

.author {
  font-variant: small-caps;
}

.pagebreak {
}

.para {
  text-indent: 20px;
}
.pull {
  background-color: #ccc;
  border-top: 1px dotted black;
}

select {
  color: #666;
  font-size: 9px;
  line-height: 9px;
  font-family: skreen, geneva, arial, sans-serif;
  background-color: #ccc;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 204px;
  height: 12px;
  outline: 0px;
}

:focus {
  outline: 0px;
}

form {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

option {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#shortclub {
  text-align: justify;
}

.blog {
  font-size: 9px;
  background-color: white;
  padding: 4px;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
}
.blogdetails {
  color: #888;
  line-height: 9px;
  text-align: center;
}
